@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #050570;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 90vw;
  padding-top: 10px;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
}

main {
  width: 80vw;
  height: 70vh;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
.search-container {
  border: #650e85 solid 5px;
  border-radius: 5px;
  color: white;
  width: 60vw;
  height: 40vh;
  background-color: #4d0c74;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 10px;
}

button {
  background-color: #102abf;
  border: none;
  border-radius: 3px;
  color: white;
  text-align: center;
  padding: 4px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: white; /* Green */
  color: #102abf;
}
button:active {
  border: solid 3px #000;
}

.quick-display {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.weather-display-main,
.forecast-card {
  border: #650e85 solid 5px;
  border-radius: 5px;
  background-color: #4d0c74;
  color: white;
  font-family: "Noto Sans", sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.weather-display-main {
  width: 60vw;
  height: 40vh;
}

#weather-info {
  list-style: none;
}

.five-day-forecast {
  justify-content: center;
  flex-flow: row wrap;
  width: 80vw;
  height: 50vh;
}

.forecast-card {
  width: 30vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
